        html,
        body {
        height: 100%;

        }
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 20px auto;
            background-color: #c4c4c4;

            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .wrapper {
        background-color: #f0f0f0;
        padding: 20px 20px;
        border-radius: 10px;
        box-shadow: 0 0 5px 0;
        margin-bottom: 10px;c
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* border-bottom: 1px solid #ccc;*/
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
         .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            text-align: center;
        }
        a {
          outline: none;
          text-decoration: none;
          width: 19.5%;
          margin-right: 0.625%;
          text-align: center;
          line-height: 3;
          color: black;
          padding: 10px;
        }

        .buttonSimp {
          background-color: #9d9d9d;
          border-radius: 5px;
          color: white;
          margin-right: 10px;
        }
        .buttonSimp:hover{
        background-color: #9d9d9d;
        color: yellow;
        box-shadow: 0 0 10px 0;
        transition: background-color 1s, border-color 1s;
        }
        .buttonSimpForm {
         background-color: #9d9d9d;
         border-radius: 5px;
         color: white;
         margin-right: 10px;
         padding: 10px 20px;
         font-size: 16px;
         border: none;
        }
        .buttonSimpForm:hover{
        background-color: #9d9d9d;
        color: yellow;
        box-shadow: 0 0 10px 0;
        transition: background-color 1s, border-color 1s;
        }
        .buttonDel {
         background-color: #9d9d9d;
         border-radius: 5px;
         color: white;
         margin-right: 10px;
         padding: 10px 20px;
         font-size: 16px;
         border: none;
        }
        .buttonDel:hover{
        background-color: red;
        color: yellow;
        box-shadow: 0 0 10px 0;
        transition: background-color 1s, border-color 1s;
        }

        .baseMenu,
        .pageAddPostButton,
        .pageLoginButton,
        .pageRegisterButton,
        .pageEditPostButton{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

        .indexAuthor{
            text-align: right;
        }

        footer {
        text-align: center;
        margin-top: auto;
        min-height: 25px;
        padding: 20px 20px;
        box-shadow: 0 0 5px 0;
        border-radius: 10px;
        background-color: #f0f0f0;
        }


        .postShow{
        height: 50px;
        padding: 10px 10px 10px 10px;
        overflow: hidden;
	    position: relative;
	    height: 62px;
        }

        .postDetailPostMargin{
        margin-bottom: 150px;
        }

