{% extends "base.html" %}

{% block content %}

<h1>{{ title }}</h1>

    {% for post in posts %}
        <div class="post">
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
            <div class="author">Автор: {{post.author}}</div>
        </div>
        <div class="menu">
            <p><a class="buttonFirst" href="{% url 'edit_post' post.id %}">Редактировать пост</a></p>
            <p><a class="buttonFirst" href="{% url 'delete_post' post.id %}">Удалить пост</a></p>
        </div>
    {% endfor %}


{% endblock %}