{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}


<!--    <div class="xxx">-->
<!--        {% if product.image %}-->
<!--            <img src="{{ product.image.url }}" class="img-fluid rounded shadow-sm" alt="{{ product.name }}">-->
<!--        {% else %}-->
<!--            <img src="{% static 'no-image.png' %}" class="img-fluid rounded shadow-sm" alt="Нет фото">-->
<!--        {% endif %}-->
<!--    </div>-->


        <h2>{{post.title}}</h2>
        <div class="postDetailPostBody">{{post.body}}</div>
        <div class="indexAuthor, postDetailPostMargin">Автор: {{post.author}}</div>

         <div class="menu">
             <div><a class="buttonSimp"  href="{% url 'index' %}">На главную</a></div>
            <div><a class="buttonSimp" href="{% url 'edit_post' post.id %}">Редактировать пост</a></div>
            <div><a class="buttonSimp" href="{% url 'delete_post' post.id %}">Удалить пост</a></div>
        </div>

{% endblock %}